/* 
    Created on : Nov 24, 2016, 5:19:07 PM
    Author     : Justice Okai
*/

body{
    
    font-family: arial, sans-serif;
     background-color: #002147;
    
}

#nav {
    
    background-color:#eeeeee;
    height:450px;
    width:100%;
    background: url(j.jpg);
    background-size: cover;
	      
}

#nav_wrapper {
   
    background-color: rgba(55, 125, 122, 0.6);
    height:auto;
    width:auto;
    margin-left: 5em;	
    margin-right: 5em;	
	padding-bottom:1.2em;
    
}

#nav_wrapper ul li {
   
    list-style: none;
    display: inline;
    font-weight: bold;
    padding: 2px;
  
 	      
}

#nav_wrapper a{
    
    color: white;
    text-decoration: none;
    padding: 10px;
    
    
}
#nav_wrapper ul li:hover {
   
 background: #003815;
 transition: all 0.45s;
 opacity: 0.9;
  filter:alpha(opacity=90);
    
}

h1 { 
color: white;
 text-align:center;
  font-family: overpass;
}

footer {
    background-color:black;
    color:blueviolet;
    clear:both;
    text-align:center;
   padding:5px;	 	
 
}

p {
    color: white;
    font-family: Times New Roman;
}
#animated_div {
 
    height: 47px;
    background: #92B901;
    color: #ffffff;
    position: relative;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    animation: animated_div 5s 1;
    -moz-animation: animated_div 5s 1;
    -webkit-animation: animated_div 5s 1;
    -o-animation: animated_div 5s 1;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}
@keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;}
70% {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}

@-webkit-keyframes animated_div
{
0% {-webkit-transform: rotate(0deg);left:0px;}
25% {-webkit-transform: rotate(20deg);left:0px;}
50% {-webkit-transform: rotate(0deg);left:500px;}
55% {-webkit-transform: rotate(0deg);left:500px;}
70% {-webkit-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-webkit-transform: rotate(-360deg);left:0px;}
}

@-moz-keyframes animated_div
{
0%  {-moz-transform: rotate(0deg);left:0px;}
25% {-moz-transform: rotate(20deg);left:0px;}
50%  {-moz-transform: rotate(0deg);left:500px;}
55%  {-moz-transform: rotate(0deg);left:500px;}
70%  {-moz-transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {-moz-transform: rotate(-360deg);left:0px;}
}

@-o-keyframes animated_div
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50%  {transform: rotate(0deg);left:500px;}
55%  {transform: rotate(0deg);left:500px;}
70%  {transform: rotate(0deg);left:500px;background:#1ec7e6;}
100% {transform: rotate(-360deg);left:0px;}
}

@media (max-width:1200px) {
	ul.navigation li a {
		display:block !important;
		padding:0em !important;
		border-bottom:1px solid rgba(255,255,255,0.3);
	}
	ul.navigation li a:hover {
		background-color:rgba(0,0,0,0.3);
		padding:0.25em;
		border-left:1px solid transparent;
	}
	#nav_wrapper {
		margin:0 !important;
		margin-top:2em !important;
		margin-bottom:2em !important;
	}
}